extends partials/layout

block title
  title Greg's Ice Adventure

block content
  .column.column--left
    img.site-photo(src="img/ian.jpg")
  .column.column--right
    img.site-title(src="img/page-title.png" alt="Greg's Ice Adventure")
    .tweets
      a.twitter-timeline(href="https://twitter.com/hashtag/gregsiceadventure" data-widget-id="738788377626050560" data-chrome="noheader nofooter noborders" data-tweet-limit="100") #gregsiceadventure Tweets
    p
      a.button(href="https://twitter.com/search?q=%23gregsiceadventure") #gregsiceadventure
